<%#
# (c) Copyright Ascensio System SIA 2022
# http://www.onlyoffice.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>

<div id="onlyoffice-error-notification" style="display: none">
  <div class="flash error"></div>
</div>

<p>
  <%= content_tag(:label, l(:onlyoffice_settings_doc_url)) %>
  <%= text_field_tag 'settings[oo_address]', settings['oo_address'] %>
</p>
<p>
  <%= content_tag(:label, l(:onlyoffice_settings_jwtsecret)) %>
  <%= text_field_tag 'settings[jwtsecret]', settings['jwtsecret'] %>
</p>

<fieldset>
  <legend>
    <span><%= l(:onlyoffice_settings_editor_view) %></span>
  </legend>
  <label class="floating">
    <%= check_box_tag 'settings[editor_demo]', settings['editor_demo'], settings['editor_demo'].eql?('on') %>
    <%= l(:onlyoffice_settings_editor_demo) %>
  </label>
  <label class="floating">
    <%= check_box_tag 'settings[editor_chat]', settings['editor_chat'], settings['editor_chat'].eql?('on') %>
    <%= l(:onlyoffice_settings_editor_view_chat) %>
  </label>
  <label class="floating">
    <%= check_box_tag 'settings[editor_compact_header]', settings['editor_compact_header'], settings['editor_compact_header'].eql?('on') %>
    <%= l(:onlyoffice_settings_editor_view_header) %>
  </label>
  <label class="floating">
    <%= check_box_tag 'settings[editor_feedback]', settings['editor_feedback'], settings['editor_feedback'].eql?('on') %>
    <%= l(:onlyoffice_settings_editor_view_feedback) %>
  </label>
  <label class="floating">
    <%= check_box_tag 'settings[editor_help]', settings['editor_help'], settings['editor_help'].eql?('on') %>
    <%= l(:onlyoffice_settings_editor_view_help) %>
  </label>
  <label class="floating">
    <%= check_box_tag 'settings[editor_toolbar_no_tabs]', settings['editor_toolbar_no_tabs'], settings['editor_toolbar_no_tabs'].eql?('on') %>
    <%= l(:onlyoffice_settings_editor_view_toolbar) %>
  </label>
</fieldset>

<script type="text/javascript" language="javascript">
    document.getElementsByClassName("box tabular settings")[0].classList.remove("settings")

    var contentDiv = document.getElementById("content");
    contentDiv.insertBefore($("#onlyoffice-error-notification")[0], document.getElementsByTagName("h2")[0]);
</script>

<script type="text/javascript" language="javascript">
    var showError = function (errorMes) {
        let notice = $("#onlyoffice-error-notification")[0];
        notice.style.display = "block";
        notice.children[0].innerText = errorMes;
        $('#settings form input[type=submit]')[0].disabled = false;
    };

    var сhangingАctivityFields  = function (bool) {
      document.getElementById("settings_oo_address").disabled = bool
      document.getElementById("settings_jwtsecret").disabled = bool
    };

    if (<%= Setting.plugin_onlyoffice_redmine["editor_demo"].eql?("on") ? true : false %>) {
      if (<%= Config.istrial %>){
        document.getElementById("onlyoffice-error-notification").children[0].style.display = "none";
        сhangingАctivityFields(true)
      }else {
        showError("<%= l(:onlyoffice_editor_trial_period_ended) %>")
        сhangingАctivityFields(false)
      }
    }else {
      if (document.getElementById("settings_editor_demo").checked == true && !<%= Config.istrial %>){
        showError("<%= l(:onlyoffice_editor_trial_period_ended) %>")
        document.getElementById("settings_editor_demo").checked = false;
      }
    }
</script>
