<!--Copyright (c) Ascensio System SIA 2021. All rights reserved.-->
<!--http://www.onlyoffice.com-->

<%= stylesheet_link_tag "editor", :plugin => "onlyoffice_redmine" %>

<div id="onlyoffice-container">
  <div id="iframeEditor"></div>
</div>
<script src="<%= Setting.plugin_onlyoffice_redmine["oo_address"] %>OfficeWeb/apps/api/documents/api.js"></script>
<script type="text/javascript" language="javascript">

    var docEditor;

    var innerAlert = function (message) {
        if (console && console.log) console.log(message);
    };
    var onAppReady = function () {
        innerAlert("Document editor ready");
    };
    var onError = function (event) {
        if (event) innerAlert(event.data);
    };

    var connectEditor = function () {
        document.title = "<%= @attachment.filename %>" + " - ONLYOFFICE";
        var config = <%= raw @editor_config.to_json %>;
        document.head.innerHTML += '<%= favicon_link_tag "/plugin_assets/onlyoffice_redmine/images/#{@editor_config[:documentType]}.ico" %>';

        config.width = "100%";
        config.height = "100%";

        config.events = {
            'onAppReady': onAppReady,
            'onError': onError
        };
        if (/android|avantgo|playbook|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od|ad)|iris|kindle|lge |maemo|midp|mmp|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\|plucker|pocket|psp|symbian|treo|up\\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i
          .test(navigator.userAgent)) {
            config.type='mobile';

        }
        docEditor = new DocsAPI.DocEditor("iframeEditor", config);
    };


    if (window.addEventListener) {
        window.addEventListener("load", connectEditor);
    } else if (window.attachEvent) {
        window.attachEvent("load", connectEditor);
    }

</script>