<%#
# (c) Copyright Ascensio System SIA 2021
# http://www.onlyoffice.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>

<%= stylesheet_link_tag "editor", :plugin => "onlyoffice_redmine" %>
<% editor_base_url = Setting.plugin_onlyoffice_redmine["oo_address"] %>

<div id="onlyoffice-container">
  <div class="flash error" style="display: none"><%= l(:onlyoffice_editor_cannot_be_reached) %></div>
  <div id="iframeEditor"></div>
</div>
<script src="<%= editor_base_url[-1].eql?("/") ? editor_base_url : editor_base_url + "/" %>OfficeWeb/apps/api/documents/api.js"></script>

<script type="text/javascript" language="javascript">

    var docEditor;

    var innerAlert = function (message) {
        if (console && console.log) console.log(message);
    };
    var onAppReady = function () {
        innerAlert("Document editor ready");
    };
    var onError = function (event) {
        if (event) innerAlert(event.data);
    };

    var onRequestSaveAs = function(event) {
        var data = {
            url: event.data.url,
            title: event.data.title
        };

        $.ajax({
            type: 'POST',
            url: '<%=onlyoffice_save_as_path(@attachment.id)%>',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data)
        });
    };

    var connectEditor = function () {
        if (typeof DocsAPI === "undefined") {
            document.getElementById("onlyoffice-container").children[0].style.display = "block";
            return;
        }

        document.title = "<%= @attachment.filename %>" + " - ONLYOFFICE";
        var config = <%= raw @editor_config.to_json %>;
        
        document.head.innerHTML += '<%= favicon_link_tag "/plugin_assets/onlyoffice_redmine/images/#{@favicon}.ico" %>';

        config.width = "100%";
        config.height = "100%";

        config.events = {
            'onAppReady': onAppReady,
            'onError': onError,
            'onRequestSaveAs': onRequestSaveAs
        };
        if (/android|avantgo|playbook|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od|ad)|iris|kindle|lge |maemo|midp|mmp|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\|plucker|pocket|psp|symbian|treo|up\\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i
          .test(navigator.userAgent)) {
            config.type='mobile';

        }

        if ((config.document.fileType === "docxf" || config.document.fileType === "oform")
            && DocsAPI.DocEditor.version().split(".")[0] < 7) {
            alert("<%=l(:onlyoffice_editor_forms_error_version)%>");
            return;
        }

        docEditor = new DocsAPI.DocEditor("iframeEditor", config);
    };


    if (window.addEventListener) {
        window.addEventListener("load", connectEditor);
    } else if (window.attachEvent) {
        window.attachEvent("load", connectEditor);
    }

</script>