<%
    @file_id = file_id
    @file = Attachment.find_by_id(@file_id)
    @file_name = @file.filename[0..@file.filename.index(".")-1]
    @ext = @file.filename[@file.filename.index(".")+1..]

    @formats = FormatUtility.format_supported(@ext)
%>


<div id = "donwload_as" tabindex="-1" role="dialog" class="none ui-dialog ui-corner-all ui-widget ui-widget-content ui-front modal ui-draggable" aria-describedby="ajax-modal" aria-labelledby="ui-id-2" style="height: auto; width: 600px; top: 271.9px; left: 454.5px; z-index: 101;">
    <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle">
        <span id="ui-id-2" class="ui-dialog-title"><%= l(:onlyoffice_convert_download_file_as) %></span>
        <button onclick = "displayFormDownloadAs(false);" type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
            <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
            <span class="ui-button-icon-space"></span>
            Close
        </button>
    </div>
    <div style="width: auto; min-height: 100.4px; max-height: none; height: auto;" class="ui-dialog-content ui-widget-content">
        <h3 class="title"><%= l(:onlyoffice_convert_download_file_as) %></h3>

        <%= form_tag(onlyoffice_convert_path(@file_id,@file_id), multipart: true, id: "conversion") do |f| %>
            <%= render :partial => 'onlyoffice_convert/form' %>
            <div style = "display: flex; align-items: center;" >
                <p><%= submit_tag l(:label_no_preview_download) %></p>
                <div id="progress_bar">
                    <div id="progress"></div>
                    <%= label_tag "progress", "0%" %>
                </div>
            </div>

        <% end %>
    </div>
</div>


<script type="text/javascript" language="javascript">
    document.body.appendChild(document.getElementById("donwload_as"))

    var displayFormDownloadAs = function (bool) {
        if (bool){
            $("#donwload_as")[0].style.display = "block";
            $("body")[0].style.background = "#000";
            $("#wrapper")[0].style = "background: #000; opacity: 70%;"
        } else {
            $("#donwload_as")[0].style.display = "none";
            $("body")[0].style.background = "none";
            $("#wrapper")[0].style = "background: none; opacity: 100%;";
        }
    }

    var activateButtons = function (element) {
        $('#conversion input[type=submit]')[0].disabled = false;
        $('#conversion input[type=submit]')[1].disabled = false;
    }

    displayFormDownloadAs(false);
</script>

<style>
    form#conversion div p {
        padding-right: 1%;
    }

    #progress_bar{
        padding-left: 3%;
        display: flex;
        width: 100%;
    }

    #progress_bar label{
        padding-left: 1%;
    }

    #progress {
        background: #EEEEEE;
        height: 16px;
        width: 60%;
    }

    #progress:after {
        content: '';
        display: block;
        background: #BAE0BA;
        width: 0%;
        height: 100%;
    }

</style>